* {
  box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
  margin: 25px;
  color: #222;
  background: radial-gradient(circle, rgba(213,213,213,1) 37%, rgba(187,187,187,1) 71%);
  text-align: center;
}

h1 {
  font-weight: bold;
  margin-top: 50px;
}

p {
  /* max-width: 900px; */
}

form {
  margin-bottom: 10px;
  padding: 15px;
  background: radial-gradient(circle, rgba(2,193,34,0.6110819327731092) 0%, rgba(135,211,124,1) 100%);
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 15px;
  border: 3mm double rgba(53, 53, 53, 0.1);
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

input[type=submit] {
  font-size: 16px;
  border-radius: 3px;
  background-color: #E4F1FE;
  border: 1px solid grey;
  box-shadow: 2px 2px #999;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #FFFEC4;
}

code {
  font-family: monospace;
  /* font-size: 1.2em; */
  background-color: #FFFEC4;
  padding: 2px;
  border-radius: 10px;
  border: 1mm solid rgba(53, 53, 53, 0.1);
}

hr {
	margin: 25px auto 35px;
	height: 3px;
	width: 100px;
}

a {
    color: #2574A9;
}